<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Next.js SSR" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern=".*" />
          </conditions>
          <!-- ارسال مسیر درخواست به سرور Next.js -->
          <action type="Rewrite" url="http://localhost:3016/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <proxy>
      <reverseProxy enabled="true" />
    </proxy>
  </system.webServer>
</configuration>
